<!DOCTYPE html>
<html>
<head>
  <title>Blazr - Home</title>

  <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:500,300,700,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

</head>

<body>
  <div class="main" ng-controller="MainController" ng-app="myApp">

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>

  <div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <img src="/public/images/blazr_orange_text.png" style="float: right;">
    <h2>Look for Jobs</h2>
    <p>Look through our vast list of jobs one by one. Click the check mark to save the job to your list of jobs or click the 'x' to ignore it. You can also narrow down your search by typing a keyword into the box below.</p>



  <p>{{ title }}</p>
  <!-- form which does the search; calls ajax function on submit as defined later -->
  <form action="/jobs" id="searchForm" METHOD='POST'> 
    <input type="text" name="searchterm" placeholder="Search jobs" />
    <input type="submit" value="Search"/>
  </form>
  <br />

  <div class ="box" ng-repeat="job in jobs track by $index">
    <div class="job">
      <strong>{{job.title}}</strong> 
      <br />at
      <br />{{job.company}}
      <br />{{job.description}}
      <br />{{job.location}}
    </div>
    <span class="glyphicon glyphicon-remove" style="color:red"></span>
    <span class="glyphicon glyphicon-ok" style="color:green"></span>

  </div>
  </div>

  <script>
  function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
  }
  </script>
  
  </div>
  
  <script>
		// Attach a submit handler to the form
		$("#searchForm").submit(function( event ) {
			// this uses the .ajax function
			event.preventDefault();
			
			var $form = $(this);
			term = $form.find("input[name='searchterm']").val();
			url = $form.attr("action");
			if (term != ''){ //may want to replace this with regex to handle empty queries
				$.ajax({
					url: url,
					method: 'POST', 
					data: $(this).serialize(),
					dataType: 'json',
					success: function(response) {
						var content = $(response);
						var str = JSON.stringify(content, null, 2)
						console.log(content)
						
						var appElement = document.querySelector('[ng-app=myApp]');
						var $scope = angular.element(appElement).scope();
						$scope.$apply(function() {
							$scope.jobs = content;
						});
					},
					error: function(){
						$('.resultContainer').html('Oops we have a problem');
					}
				});
			}
			
		});
	</script>
  
  <!-- Modules -->
  <script type="text/javascript" src="/scripts/modules/app.js"></script> 

  <!-- Controllers -->
  <script type="text/javascript" src="/scripts/controllers/MainController.js"></script>
</body>
</html>
