<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="jquery-1.8.3.js"></script>
<script type="text/javascript" src="routes/fx2.js"></script>
</head>

<body>
<form action='/jobs' METHOD='GET'>
	<table cellspacing='0' style='font-family:arial'>
	<tr><td style='font-size:16px;color:#FF6600'><b>Blazr Search</b></td><td> </td></tr>
	<tr>
	    <td><input name='searchterm' value='' size='25' y='2314'></td>
	    <td><input type='submit' value='Find Jobs!'></td>
	</tr>
	<tr>
	    <td colspan='1'  valign='top' style='font-size:10px;padding:0px;margin:0px;border:0px;width:116px;'>
	</td>
	</tr></table>
</form>
</body>
</html>