body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: orange;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.4s;
    /*border-bottom: 1px solid white; */
}

.sidenav a:hover, .offcanvas a:focus{
    color: black;
    border-color: black;
    transition: 0.4s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
}

#main {
    transition: .4s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.job {
  text-align: left;
  padding-left: 10px;
  height: 80%;
}

.box {
  border: 1px solid orange;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.box span {
  font-size: 36px;
  cursor: pointer;
  color: orange;
  transition: 0.4s;
}

.job span {
  cursor: pointer;
  color: orange;
  font-size: 12px;
}

.description-container {
  padding: 10px;
  text-align: left;
  background-color: white;
  color: black;
  border-top: 1px solid orange;
}

.top-bar {
  padding: 5px 0px 5px 0px;
}

.bottom-bar {
  padding: 5px 0px 5px 0px;
  border-top: 1px solid orange;
}

.bottom-bar span:hover {
  color: black;
}

.more-less {
  float:right;
  cursor: pointer;
  padding-right:10px;
  text-align:left;
}

.more-less:hover span {
  color: black;
}

/* my profile styles */

.edit {
  cursor: pointer;
}

form {
  display: block;
  margin-bottom: 3px;
}

input[type=submit] {
  border: 1px solid orange;
  background-color: white;
  color: orange;
}

input[type=text] {
  border: 1px solid orange;
  padding: 2px 0px 3px 1px;
}

input[type=text]:focus, input[type=submit]:focus, form:focus {
  border-color: orange;
  outline: 0;
  box-shadow: inset 0 1px 1px orange, 0 0 3px orange;
}

.box.ng-hide-add         { animation:0.5s lightSpeedOut ease; }
.box.ng-hide-remove      { animation:0.5s flipInX ease; }
.description-container.ng-hide-add         { animation:.2s flipOutX ease; }
.description-container.ng-hide-remove      { animation:0.5s flipInX ease; }

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 1deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(-100%, 0, 0) skewX(30deg);
    transform: translate3d(-100%, 0, 0) skewX(30deg);
    transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}
@keyframes lightSpeedUp {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -100%, 0) skewX(30deg);
    transform: translate3d(0, -100%, 0) skewX(30deg);
    transform: translate3d(0, -100%, 0) skewX(30deg);
    opacity: 0;
  }
}


@keyframes flipOutX {
  0% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
  
  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 1deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
}

/* login styles */
