<!DOCTYPE html>
<html>
<head>
  <title>Blazr - Login</title>

  <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:500,300,700,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

</head>

<body>
  <div class="main" ng-controller="MainController" ng-app="myApp">

    <div class="user-profile" id="main">
      <img src="/public/images/blazr.png" style="float: right; height:55px; width:125px;">

        <div class="box" style="padding: 20px 0px 20px 0px; text-align:center; width:50%; margin:auto; margin-top:100px;">
          <div style="text-align:center;">
            <span class="message" style="cursor: default; color:black; display:block; font-size:14px; padding: 10px 0px 5px 0px;">Welcome to Blazr! Please log in with your LinkedIn information:</span>
            <a href="%% url_for('oauth_authorize', provider='linkedin') %%">
              <input type="submit" value="Log in with LinkedIn" style="margin: 5px 0px 10px 0px;">
            </a>
          </div>
        </div>
    </div>

  </div>

  <script>
  function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
  }
  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
  }
	</script>

  <!-- Modules -->
  <script type="text/javascript" src="/scripts/modules/app.js">
    console.log('wtf')
  </script>

  <!-- Controllers -->
  <script type="text/javascript" src="/scripts/controllers/MainController.js">
  </script>
</body>
</html>
