<!DOCTYPE html>
<html>
<head>
  <title>Blazr - My Profile</title>

  <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:500,300,700,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

</head>

<body>
  <div class="main" ng-controller="MainController" ng-app="myApp">

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="home">Search Jobs</a>
      <a href="about">About</a>
      <a href="myprofile">My Profile</a>
      <a href="logout">Logout</a>
    </div>

    <div class="user-profile" id="main">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      <img src="/public/images/blazr.png" style="float: right; height:55px; width:125px;">

      <h2>My Profile - %% current_user.nickname %%</h2>
        <p><a href="%% url_for('logout') %%">Logout</a></p>

      <h3>Photo</h3>
        <img src="%% current_user.picture_url %%">
        <!--Upload photo option-->
        <span class="glyphicon glyphicon-pencil edit"></span>

      <h3>Summary</h3>

      	<span> %% current_user.summary %% </span>

        <form action="/edit_user_info" class="editUserInfo" id="summary" method="POST">
          <input type="text" name="entry" placeholder="%% current_user.summary %%"/>
          <br/>
          <input type="submit" value="Apply"/>
          <span class="glyphicon glyphicon-remove edit"></span>
          <span class="glyphicon glyphicon-pencil edit"></span>
        </form>

      <h3>Experience</h3>

        <span> %% current_user.experience %% </span>
        <form action="/edit_user_info" class="editUserInfo" id="experience" method="POST">
          <input type="text" name="entry" placeholder="%% current_user.experience %%"/>
          <br/>
          <input type="submit" value="Apply"/>
          <span class="glyphicon glyphicon-remove edit"></span>
          <span class="glyphicon glyphicon-pencil edit"></span>
        </form>

      <h3>Skills</h3>

      	<span> %% current_user.skills %% </span>
        <form action="/edit_user_info" class="editUserInfo" id="skills" method="POST">
          <input type="text" name="entry" placeholder="%% current_user.skills %%"/>
          <br/>
          <input type="submit" value="Apply"/>
          <span class="glyphicon glyphicon-remove edit"></span>
          <span class="glyphicon glyphicon-pencil edit"></span>
        </form>


      <h3>Contact Info</h3>
        <h4>Email</h4>
          <span> %% current_user.emailaddress %% </span>
          <form action="/edit_user_info" class="editUserInfo" id="emailaddress" method="POST">
            <input type="text" name="entry" placeholder="%% current_user.emailaddress %%"/>
            <br/>
            <input type="submit" value="Apply"/>
            <span class="glyphicon glyphicon-remove edit"></span>
            <span class="glyphicon glyphicon-pencil edit"></span>
          </form>

        <h4>Phone</h4>
          <span> %% current_user.phone %% </span>
          <form action="/edit_user_info" class="editUserInfo" id="phone" method="POST">
            <input type="text" name="entry" placeholder="%% current_user.phone %%"/>
            <br/>
            <input type="submit" value="Apply"/>
            <span class="glyphicon glyphicon-remove edit"></span>
            <span class="glyphicon glyphicon-pencil edit"></span>
          </form>


    </div>

  </div>

  <script>
  function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
  }
  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
  }
  //$(document).ready(function(){
  //});
		// Attach a submit handler to the form

		$(".editUserInfo").submit(function( event ) {
			// this uses the .ajax function
			event.preventDefault();

      var $form = $(this);
			entry = $form.find("input[name='entry']").val();
      //entry = summary;
      entry_name = $form.attr("id"); //the type of entry being submitted
			url = $form.attr("action");

      data = { entry_name: entry_name, entry : entry}
      console.log(data)

			if (entry != ''){ //may want to replace this with regex to handle empty queries
				/*
        $.post(url, { entry_name: entry_name, entry : entry},
            function(returnedData){
                 console.log(returnedData);
        }).fail(function(){
              console.log("error");
        });
        */
        $.ajax({
					url: url,
					method: 'POST',
					data: data,
					dataType: 'json',
					success: function(response) {
            console.log(response.url)
						window.location = response.url;
					},
					error: function(){
            console.log('error')
						$('.resultContainer').html('Oops we have a problem');
					}
				});
			}
		});
	</script>

  <!-- Modules -->
  <script type="text/javascript" src="/scripts/modules/app.js">
    console.log('wtf')
  </script>

  <!-- Controllers -->
  <script type="text/javascript" src="/scripts/controllers/MainController.js">
  </script>
</body>
</html>
