<!DOCTYPE html>
<html>
<head>
  <title>Blazr - My Profile</title>

  <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:500,300,700,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

</head>

<body>
  <div class="main" ng-controller="MainController" ng-app="myApp">

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="home">Search Jobs</a>
      <a href="#">About</a>
      <a href="myprofile">My Profile</a>
      <a href="#">Contact</a>
    </div>

    <div class="user-profile" id="main">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      <img src="/public/images/blazr_orange_text.png" style="float: right;">

      <h2>My Profile - %% current_user.nickname %%</h2>
        <p><a href="%% url_for('logout') %%">Logout</a></p>

      <h3>Photo</h3>
        <img src="%% current_user.picture-url %%">
        <!--Upload photo option-->
        <span class="glyphicon glyphicon-pencil edit"></span>

      <h3>Summary</h3>

      	<span> %% current_user.summary %% </span>
        <textarea rows="6" cols="60" name="summary" value="%% current_user.summary %%"></textarea>
        <input type="submit" value="Apply"/>
        <input type="submit" value="Cancel"/>
        <span class="glyphicon glyphicon-pencil edit"></span>

      <h3>Experience</h3>

        <span> %% current_user.experience %% </span>
        <textarea rows="6" cols="60" name="experience" value="%% current_user.experience %%"></textarea>
        <input type="submit" value="Apply"/>
        <input type="submit" value="Cancel"/>
        <span class="glyphicon glyphicon-pencil edit"></span>

      <h3>Skills</h3>

      	<span> %% current_user.skills %% </span>
        <textarea rows="6" cols="60" name="skills" value="%% current_user.skills %%"></textarea>
        <input type="submit" value="Apply"/>
        <input type="submit" value="Cancel"/>
        <span class="glyphicon glyphicon-pencil edit"></span>


      <h3>Contact Info</h3>
        <h4>Email</h4>
          <span> %% current_user.emailaddress %% </span>
          <input type="text" name="skill" value="%% current_user.emailaddress %%"/>
          <input type="submit" value="Apply"/>
          <input type="submit" value="Cancel"/>
          <span class="glyphicon glyphicon-pencil edit"></span>

        <h4>Phone</h4>
          <span> %% current_user.phone %% </span>
          <input type="text" name="phone" value="%% current_user.phone %%"/>
          <input type="submit" value="Apply"/>
          <input type="submit" value="Cancel"/>
          <span class="glyphicon glyphicon-pencil edit"></span>


    </div>

  </div>

  <script>
  function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
  }
  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
  }
  //$(document).ready(function(){
  //});
		// Attach a submit handler to the form
		$("#searchForm").submit(function( event ) {
			// this uses the .ajax function
			event.preventDefault();
			var $form = $(this);
			term = $form.find("input[name='searchterm']").val();
			url = $form.attr("action");
      console.log(term)
			if (term != ''){ //may want to replace this with regex to handle empty queries
				$.ajax({
					url: url,
					method: 'POST',
					data: $(this).serialize(),
					dataType: 'json',
					success: function(response) {
						var content = $(response);
						var str = JSON.stringify(content, null, 2)
						console.log(content)
						var appElement = document.querySelector('[ng-app=myApp]');
						var $scope = angular.element(appElement).scope();
						$scope.$apply(function() {
							$scope.jobs = content;
						});
					},
					error: function(){
						$('.resultContainer').html('Oops we have a problem');
					}
				});
			}
		});
	</script>

  <!-- Modules -->
  <script type="text/javascript" src="/scripts/modules/app.js">
    console.log('wtf')
  </script>

  <!-- Controllers -->
  <script type="text/javascript" src="/scripts/controllers/MainController.js">
  </script>
</body>
</html>
